.contactInfo {
    max-width: 650px;
    margin-top: 50px;
    padding: 10px;
    height: 90vh;
    width: 100%;
    
    border-radius: 30px;
    background-color: #E5E5E5;
    box-shadow: 26px 16px 31px 16px rgba(22,23,23,0.4);
    -webkit-box-shadow: 26px 16px 31px 16px rgba(22,23,23,0.4);
    -moz-box-shadow: 26px 16px 31px 16px rgba(22,23,23,0.4);
    
    h2 {
        margin: 20px 120px;
        color: #242F40;
    }

}